.drop-down {
  position: relative;
}

.drop-down > ul {
  display: none;
  position: absolute;
  background-color: var(--nav-color);
  padding: 1rem;
}

.drop-down * {
  white-space: nowrap;
}

.hover:hover > * {
  display: block;
}

.link {
  color: rgb(67, 140, 189);
}
