:root {
  --blue: rgb(36, 97, 138);
  --blue2: rgb(36, 88, 121);
  --blue3: #38698f;

  --orange1: rgb(204, 104, 3);
  --orange: rgb(255, 132, 0);

  --black: rgb(25, 27, 28);
  --black-alpha: rgb(25, 27, 28, 0.5);
  --black2: rgb(84, 107, 122);

  --white: rgb(199, 195, 188);
  --white-dark: rgb(99, 96, 91);

  /* --card-color: #162129; */
  --card-color: #eee;
  --text-color: #333;
  --text-hover: var(--white-dark);
  --background-color: #4a6b8b;
  --background-light: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-decoration: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

body {
  visibility: hidden;
  font-family: Helvetica;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 500;
}

body {
  position: relative;
  background: var(--background-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

main {
  margin-top: 8rem;
  min-height: 60vh;
}

main > *:first-child {
  background-color: var(--orange);
  color: #eee;
}

/* main:first-child {
} */

main > * + * {
  margin-top: 5rem;
}

nav {
  --nav-color: #ddd;
  background-color: var(--nav-color);
}

nav * {
  color: var(--orange);
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  color: var(--orange);
}

/* nav > ul > li {
  margin-right: 16rem;
} */

nav li {
  list-style: none;
}

li {
  padding: 0.5rem;
}

footer {
  display: flex;
  align-self: start;
  flex-wrap: wrap;
}
footer p {
  margin-top: 1rem;
}

ol {
  margin-left: 3rem;
}

a:hover {
  color: var(--text-hover);
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

svg {
  fill: var(--orange);
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  footer > * {
    width: 100%;
  }
}
