:root {
  --blue: rgb(32, 87, 124);
  --blue2: rgb(53, 107, 138);
  --orange1: rgb(204, 104, 3);
  --orange: rgb(255, 132, 0);
  --black: rgb(25, 27, 28);
  --black-alpha: rgb(25, 27, 28, 0.5);
  --white: rgb(199, 188, 188);
  --white-dark: rgb(99, 96, 91);

  --card-color: #eee;
  --text-color: var(--black);
  --text-hover: var(--white-dark);
  --background-color: var(--blue2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-decoration: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

body {
  visibility: hidden;
  font-family: Helvetica;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 500;
}

body {
  position: relative;
  background: var(--background-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

main {
  margin-top: 8rem;
  min-height: 60vh;
}

main > *:first-child {
  background-color: var(--orange);
  color: #ddd;
}

/* main:first-child {
} */

main > * + * {
  margin-top: 5rem;
}

nav {
  background-color: var(--card-color);
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  color: var(--orange);
}

/* nav > ul > li {
  margin-right: 16rem;
} */

nav li {
  list-style: none;
  padding: 1rem;
}

ol {
  margin-left: 3rem;
}

a:hover {
  color: var(--text-hover);
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
