#logo-container {
  justify-content: space-evenly;
}

#logo-container img {
  height: 400px;
  width: auto;
}

#drop-down-arrow {
  width: 1rem;
  height: 1rem;
}

#bars {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
  cursor: pointer;
  fill: var(--orange);
}

#nav-desktop .drop-down ul {
  left: -1rem;
  top: 3rem;
}

#nav-mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #nav-desktop {
    display: none;
  }

  #nav-mobile {
    display: block;
  }

  #logo-container img {
    height: 200px;
  }
}
