:root {
  --max-width: 1000px;
}

.shadow {
  box-shadow: 1px 2px 3px 2px var(--black-alpha);
}

.shadow-bottom {
  box-shadow: 1px 2px 3px -1px var(--black-alpha);
}

.contained {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: var(--card-color);
  padding: 2rem;
  border-radius: 4px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.flex p {
  height: 5rem;
}

.f2 > * {
  width: 50%;
}

.f3 > * {
  width: 33%;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-end {
  flex-direction: row-reverse;
}

.height-300 img {
  height: 300px;
}

.min-height img {
  min-height: 200px;
}

.height-x img {
  height: 500px;
}

.background-light {
  background-color: var(--background-light);
}

@media only screen and (max-width: 1000px) {
  .f2 > * {
    width: 100%;
  }

  .f3 > * {
    width: 100%;
  }
}

.block {
  display: block !important;
}
