<template>
  <div class="flex f2">
    <div>
      <h1>Contact Information</h1>

      <p>Dr. Dayakar Penumadu</p>
      <p>Fred Peebles Professor</p>
      <p>Joint Institute for Advanced Materials Chair of Excellence</p>
      <p>Tickle College of Engineering</p>
      <p>Department of Civil and Environmental Engineering</p>
      <p>The University of Tennessee,</p>
      <p>Knoxville, Tennessee, 37996, USA</p>
      <p>dpenumad@utk.edu</p>
      <p>865-974-7708</p>
    </div>
    <div>
      <img src="../static/about/Dayakar_Penumadu.jpg" alt="" />
    </div>
  </div>
</template>
