<template>
  <nav id="nav-desktop" class="shadow">
    <ul class="contained">
      <li><a href="/">Home</a></li>
      <li class="drop-down hover">
        <span>
          Research
          <img
            id="drop-down-arrow"
            src="../static/about/drop-down-arrow.svg"
            alt=""
          />
        </span>
        <ul class="shadow">
          <li><a href="thermal.html">Thermal Characterization</a></li>
          <li>
            <a href="optical.html">Electron and Optical Microscopy</a>
          </li>
          <li><a href="fiber.html">Fiber Characterization</a></li>
          <li>
            <a href="nonevasive.html"
              >Sample Preparation and Non-evasive Characterization</a
            >
          </li>
          <li><a href="mechanical.html">Mechanical Characterization</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</template>
