<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <template id="head">
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Penumadu's Labs</title>
      <link rel="stylesheet" href="style/style.css" />
    </template>

    <template id="header">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="fiber.html">Fiber Characterization</a></li>
          <li><a href="mechanical.html">Mechanical Characterization</a></li>
          <li><a href="nonevasive.html">Non-evasive Characterization</a></li>
          <li><a href="thermal.html">Thermal Characterization</a></li>
          <li><a href="optical.html">Electron and Optical Microscopy</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </template>

    <template id="footer">
      <p>footer</p>
    </template>
    <script>
      window.location.href = '/'
    </script>
  </body>
</html>
